<div id="background" >
        <br>
      
        <div id="background" >
        <form [formGroup]="companyDefinitions" (ngSubmit)="onSubmit(companyDefinitions.value)">
        <p-card id="card" [style]="{width: '900px'}">
            <h3>اطلاعات اولیه شرکت</h3>
        <!-- companyDefinition -->
        <p-toast [style]="{marginTop: '80px'}"></p-toast>
            <div >
                <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 10px">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-4">
                             <p-dropdown [style]="{'width': '260px' }" id="feildInput"  [options]="CompanyTypes" formControlName="company_type"></p-dropdown> 
                        </div>
                        <div class="ui-grid-col-4">
                            <p-message severity="error" text="پر کردن این فیلداجباری است" *ngIf="!companyDefinitions.controls['company_type'].valid&&companyDefinitions.controls['company_type'].dirty"></p-message>
                        </div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-4">
                            <input class="feildInput" pInputText type="text" formControlName="name" placeholder="نام شرکت"/>
                        <!-- <input id="float-input" type="text" formControlName="name" size="30" pInputText> 
                        <label for="float-input">نام شرکت </label> -->
                   
                    <p-message class="message" severity="error" text="پر کردن این فیلداجباری است" *ngIf="!companyDefinitions.controls['name'].valid&&companyDefinitions.controls['name'].dirty"></p-message>
                </div>
            </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-6">
                            <input class="feildInput" pInputText type="text" formControlName="company_registration_code" placeholder=" کد شرکت"/>
                        </div>
                        <div class="ui-grid-col-4">
                        <p-message severity="error" [text]="companyDefinitions.controls['company_registration_code'].errors['required'] ? 'پر کردن این فیلداجباری است' : companyDefinitions.controls['company_registration_code'].errors['minlength'] ? 'فیلد را به درستی وارد کنید' : ''" 
                                *ngIf="!companyDefinitions.controls['company_registration_code'].valid&&companyDefinitions.controls['company_registration_code'].dirty"></p-message>
                        </div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-6">
                            <input class="feildInput" pInputText type="text" formControlName="manager_full_name" placeholder="مدیر عامل "/>
                        </div>
                        <div class="ui-grid-col-4">
                            <p-message severity="error" text="پر کردن این فیلداجباری است" *ngIf="!companyDefinitions.controls['manager_full_name'].valid&&companyDefinitions.controls['manager_full_name'].dirty"></p-message>
                        </div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2"></div>
                        <div class="ui-grid-col-4"></div>
                    </div>
                </div>
            </div>
        </p-card>
        
        <!-- companyDefinition -->
        <p-card  [style]="{width: '900px'}">
            <h3>اطلاعات تماس</h3>
            <p-toast [style]="{marginTop: '80px'}"></p-toast>
                <div>
                    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-6">
                                <p-dropdown id="feildInput"  [style]="{'width': '260px' }"  [options]="stateTypes" formControlName="province"></p-dropdown>
                            </div>
                            <div class="ui-grid-col-4">
                                <p-message severity="error" text="پر کردن این فیلداجباری است" *ngIf="!companyDefinitions.controls['province'].valid&&companyDefinitions.controls['province'].dirty"></p-message>
                            </div>
                        </div>
                        <div class="ui-grid-row">
        
                            <div class="ui-grid-col-6"> 
                                <p-dropdown id="feildInput" [style]="{'width': '260px' }" [options]="cityFilter" formControlName="city"></p-dropdown>
                            </div>
                            <div class="ui-grid-col-4">
                                <p-message severity="error" text="پر کردن این فیلداجباری است" *ngIf="!companyDefinitions.controls['city'].valid&&companyDefinitions.controls['city'].dirty"></p-message>
                            </div>
                        </div>
                        <div class="ui-grid-row"> 
                            <div class="ui-grid-col-6">
                                <input class="feildInput" pInputText type="text" formControlName="tell" placeholder='شماره تلفن'/>
                            </div> 
                            <p-message severity="error" [text]="companyDefinitions.controls['tell'].errors['required'] ? 'پر کردن این فیلداجباری است' : companyDefinitions.controls['tell'].errors['pattern'] ? 'فیلد را به درستی وارد کنید' : ''" 
                                    *ngIf="!companyDefinitions.controls['tell'].valid&&companyDefinitions.controls['tell'].dirty"></p-message> 
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-6">
                                <textarea id="texteara" placeholder="آدرس" rows="5" cols="30" pInputTextarea formControlName="address"></textarea> 
                            </div>
                            <p-message severity="error" [text]="companyDefinitions.controls['address'].errors['required'] ? 'پر کردن این فیلداجباری است' : companyDefinitions.controls['address'].errors['minlength'] ? 'فیلد را به درستی وارد کنید' : ''" 
                            *ngIf="!companyDefinitions.controls['address'].valid&&companyDefinitions.controls['address'].dirty"></p-message>
                        </div>
                    </div>
                </div>
            </p-card>
        </form>
            <p-card id="thirdCard" [style]="{width: '900px'}">
                <div id="flx">
                <h3>اشخاص</h3>
                <h4 *ngIf='!userData'>(هنوز هیچ موردی افزوده نشده است)</h4>
                <button id="addPerson" type="text" (click)="addRow()" pButton icon="pi pi-plus" label="افزودن شخص"></button>  
            </div>
                <div>
                    <p-dialog header="افزودن شخص" [(visible)]="visible" modal="modal" [style]="{width: '450px'}" [responsive]="true">
                        <form [formGroup]="dialogForm" (ngSubmit)="onSubmit(dialogForm)">      
                                <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" >
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-6">
                                            <input class="feildInputs" pInputText type="text" formControlName="first_name" placeholder="نام کامل"/>
                                        </div>
                                        <div class="ui-grid-col-4">
                                            <p-message severity="error" text="پر کردن این فیلداجباری است " *ngIf="!dialogForm.controls['first_name'].valid&&dialogForm.controls['first_name'].dirty"></p-message>
                                        </div>
                                    </div>
                                    <div class="ui-grid-row"> 
                                        <div class="ui-grid-col-6">
                                            <input class="feildInputs" pInputText type="text" formControlName="national_code" placeholder="کد ملی" appNationalIdValidator />
                                        </div>
                                        <div class="ui-grid-col-4">
                                            <p-message severity="error" [text]="dialogForm.controls['national_code'].errors['required'] ? 'پر کردن این فیلداجباری است' : dialogForm.controls['national_code'].errors['appNationalIdValidator'] ? 'فیلد را به درستی وارد کنید' : ''" 
                                            *ngIf="!dialogForm.controls['national_code'].valid&&dialogForm.controls['national_code'].dirty"></p-message>
                                        </div>
                                    </div>
                                    <div class="ui-grid-row">
        
                                        <div class="ui-grid-col-6">
                                            <input class="feildInputs" pInputText type="text" formControlName="tell" placeholder="تلفن همراه"/>
                                        </div>
                                        <div class="ui-grid-col-4">
                                        <p-message severity="error" [text]="dialogForm.controls['tell'].errors['required'] ? 'پر کردن این فیلداجباری است' : dialogForm.controls['tell'].errors['pattern'] ? 'فیلد را به درستی وارد کنید' : ''" 
                                                *ngIf="!dialogForm.controls['tell'].valid&&dialogForm.controls['tell'].dirty"></p-message>
                                        </div>
                                    </div>
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-6">
                                            <input class="feildInputs" pInputText type="text" formControlName="email" placeholder="ایمیل"/>
                                        </div>
                                        <div class="ui-grid-col-4">
                                            <p-message severity="error" [text]="dialogForm.controls['email'].errors['required'] ? 'پر کردن این فیلداجباری است' : dialogForm.controls['email'].errors['email'] ? 'فیلد را به درستی وارد کنید' : ''" 
                                            *ngIf="!dialogForm.controls['email'].valid&&dialogForm.controls['email'].dirty"></p-message>
                                        </div>
                                    </div>
                                    <div id="hidden">
                                        <div class="ui-grid-col-6">
                                            <input class="feildInputs" pInputText type="text" formControlName="last_name" placeholder="ایمیل"/>
                                        </div>
                                        <div class="ui-grid-col-4">
                                            <p-message severity="error" text="پر کردن این فیلداجباری است" *ngIf="!dialogForm.controls['last_name'].valid&&dialogForm.controls['last_name'].dirty"></p-message>
                                        </div>
                                    </div>
        
                                </div>
                                </form>
                        <p-footer>
                      
                            <div class="ui-dialog-buttonpane ui-helper-clearfix">
                                <button class="canceleDialog" type="button" pButton  (click)="visible=false" label="لغو"></button>
                                <button class="RecordDialog" type="submit" pButton  [disabled]="!dialogForm.valid"  (click)="registerDialog();visible=true"  label="ثبت شخص" ></button>
                            </div>
                        </p-footer>
                    <!-- </form> -->
                    </p-dialog>
                </div>
                <p-table  *ngIf='userData' [value]="personnel">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>شماره</th>
                            <th>نام کامل</th>
                            <th>کد ملی</th>
                            <th>تلفن همراه</th>
                            <th>ایمیل</th>
                        </tr>    
                    </ng-template>
                    <ng-template  pTemplate="body" let-tableList let-i="rowIndex">
                        <tr (click)="menuItem(i,tableList)" >
                        <td>{{i}}</td>
                            <td *ngIf='!disable'>{{tableList.first_name}}</td>
                               <td *ngIf='disable'><input *ngIf='enableEditIndex == i' class="editInput"   [(ngModel)]="tableList.first_name">
                            </td>
                            <td *ngIf='!disable'>{{tableList.national_code}}</td>
                                <td *ngIf='disable'><input *ngIf='enableEditIndex == i' class="editInput" [(ngModel)]="tableList.national_code"></td>
                            
                            <td *ngIf='!disable'>{{tableList.tell}}</td>
                                <td *ngIf='disable'><input *ngIf='enableEditIndex == i' class="editInput" [(ngModel)]="tableList.tell"></td>
                            
                            <td *ngIf='!disable'>{{tableList.email}}</td>
                                <td *ngIf='disable'><input *ngIf='enableEditIndex == i' class="editInput" [(ngModel)]="tableList.email"></td>
                                <div *ngIf='!disable'>
                                    <p-menubar  [model]="items">
                                    </p-menubar>
                                </div>
                                 <div *ngIf='disable'>
                                    <button id="btn" *ngIf='enableEditIndex == i' pButton (click)='saveTable()'  type="button" icon="pi pi-check" class="ui-button-rounded ui-button-success"></button>
                                    <button id="btn" *ngIf='enableEditIndex == i' pButton (click)='cancelTable()' type="button" icon="pi pi-times" class="ui-button-rounded ui-button-danger"></button>  
                                 </div>
                                </tr>
                            </ng-template>
                        </p-table>
                  
            </p-card>
                        </div>
                        <div class="btnForm" class="ui-grid-row">   
                            <div class="ui-grid-col-3">
                                <button id="canceleDialog" (click)='register()' pButton type="Submit" label="ثبت نهایی" [disabled]="!companyDefinitions.valid"></button>
                            </div>
                            <div class="ui-grid-col-3">
                                <button pButton id="RecordDialog"  type="submit" label="انصراف و بازگشت" ></button>
                            </div>
                        </div>
                        <p-contextMenu #cm [model]="items" #cm></p-contextMenu>
        