<div id="background" >
        <br>
       
        <div id="background" >
        <form [formGroup]="companyDefinitions" (ngSubmit)="onSubmit(companyDefinitions.value)">
        <p-card id="card" [style]="{width: '800px'}">
            <h3>اطلاعات اولیه پروژه</h3>
        <!-- companyDefinition -->
        <p-toast [style]="{marginTop: '80px'}"></p-toast>
            <div >
                <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 10px">
    
      
                    <div class="ui-grid-row">
                        <div id="floatContainer" class="ui-grid-col-4">
                    <span class="ui-float-label">
                        <input id="float-input" type="text" formControlName="company_name" size="30" pInputText> 
                        <label for="float-input">نام پروژه </label>
                    </span>
                    <p-message class="message" severity="error" text="پر کردن این فیلداجباری است" *ngIf="!companyDefinitions.controls['company_name'].valid&&companyDefinitions.controls['company_name'].dirty"></p-message>
                </div>
            </div>
        
                    <div class="ui-grid-row"> 
                        <div class="ui-grid-col-4">
                    <span class="ui-float-label">
                        <input id="float-input" type="text" formControlName="code" size="30" pInputText> 
                        <label for="float-input">کد پروژه </label>
                    </span>
                    <p-message class="message" severity="error" text="پر کردن این فیلداجباری است" *ngIf="!companyDefinitions.controls['code'].valid&&companyDefinitions.controls['code'].dirty"></p-message>
                </div>
            </div>
    
    
                
            <div class="ui-grid-row"> 
                <div class="ui-grid-col-4">
            <span class="ui-float-label">
                <input id="float-input" type="text" formControlName="owner" size="30" pInputText> 
                <label for="float-input">مالک</label>
            </span>
            <p-message class="message" severity="error" text="پر کردن این فیلداجباری است" *ngIf="!companyDefinitions.controls['owner'].valid&&companyDefinitions.controls['owner'].dirty"></p-message>
        </div>
    </div>
    
                   
                   <div id="calender">
                            <input id="with" class="feildInput" size="20" pInputText type="text" formControlName="manager_full_name" placeholder=" تاریخ شروع "/>
                   
                        <!-- <div class="ui-grid-col-4">
                            <p-message severity="error" text="پر کردن این فیلداجباری است" *ngIf="!companyDefinitions.controls['manager_full_name'].valid&&companyDefinitions.controls['manager_full_name'].dirty"></p-message>
                        </div> -->
                   
                       
                            <input id="with"  class="feildInput" pInputText type="text"  placeholder=" تاریخ پایان "/>
                        
                        <!-- <div class="ui-grid-col-2">
                            <p-message severity="error" text="پر کردن این فیلداجباری است" *ngIf="!companyDefinitions.controls['manager_full_name'].valid&&companyDefinitions.controls['manager_full_name'].dirty"></p-message>
                        </div> -->
                   
                    </div>
    
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2"></div>
                        <div class="ui-grid-col-4"></div>
                    </div>
                </div>
            </div>
        </p-card>
        
        <!-- companyDefinition -->
        <p-card  [style]="{width: '800px'}">
            <h3> بازیگران کلیدی</h3>
            <p-toast [style]="{marginTop: '80px'}"></p-toast>
               
    
            <span class="ui-float-label">
                <p-dropdown id="drop"
                  [options]="stateTypes"
                  [style]="{ width: '10em' }"
                  [autofocus]="true"
                  [placeholder]="'&nbsp;'"
                  [showClear]="true"
                ></p-dropdown>
                <label id="labelDropdown" for="float-input">Dropdown 1</label>
              </span>
    
                    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
    
    
                        <span class="ui-float-label">
                            <p-dropdown id="drop"
                            
                              [options]="stateTypes"
                              [style]="{ width: '10em' }"
                              [autofocus]="true"
                              [placeholder]="'&nbsp;'"
                              [showClear]="true"
                            ></p-dropdown>
                            <label id="labelDropdown" for="float-input">Dropdown 1</label>
                          </span>
                        <!-- <span class="ui-float-label">
                            <p-dropdown  [autoDisplayFirst]="false" [options]="stateTypes" formControlName="province"></p-dropdown>
                            <label for="float-input">شرکت کنترل پروژه</label>
                        </span> -->
                        <!-- <div class="ui-grid-row">
                            <div class="ui-grid-col-6">
                                <p-dropdown id="feildInput" placeholder=" شرکت کنترل پروژه"  [style]="{'width': '260px' }"  [options]="stateTypes" formControlName="province"></p-dropdown>
                            </div>
                            <div class="ui-grid-col-4">
                                <p-message severity="error" text="پر کردن این فیلداجباری است" *ngIf="!companyDefinitions.controls['province'].valid&&companyDefinitions.controls['province'].dirty"></p-message>
                            </div>
                        </div> -->
    
    
                        
                        <div class="ui-grid-row">
        
                            <div class="ui-grid-col-6"> 
                                <p-dropdown id="feildInput" placeholder="کارشناس کنترل پروژه" [style]="{'width': '260px' }" [options]="cityFilter" formControlName="city"></p-dropdown>
                            </div>
                            <div class="ui-grid-col-4">
                                <p-message severity="error" text="پر کردن این فیلداجباری است" *ngIf="!companyDefinitions.controls['city'].valid&&companyDefinitions.controls['city'].dirty"></p-message>
                            </div>
                        </div>
                        <div class="ui-grid-row">
        
                            <div class="ui-grid-col-6"> 
                                <p-dropdown id="feildInput" placeholder=" شرکت ناظر اول" [style]="{'width': '260px' }" [options]="cityFilter" formControlName="tell"></p-dropdown>
                            </div>
                            <div class="ui-grid-col-4">
                                <p-message severity="error" text="پر کردن این فیلداجباری است" *ngIf="!companyDefinitions.controls['tell'].valid&&companyDefinitions.controls['tell'].dirty"></p-message>
                            </div>
                        </div>
                        <div class="ui-grid-row">
        
                            <div class="ui-grid-col-6"> 
                                <p-dropdown id="feildInput" placeholder=" شرکت ناظر دوم" [style]="{'width': '260px' }" [options]="cityFilter" formControlName="address"></p-dropdown>
                            </div>
                            <div class="ui-grid-col-4">
                                <p-message severity="error" text="پر کردن این فیلداجباری است" *ngIf="!companyDefinitions.controls['address'].valid&&companyDefinitions.controls['address'].dirty"></p-message>
                            </div>
                        </div>
                    </div>
               
            </p-card>
        </form>
            <p-card id="thirdCard" [style]="{width: '800px'}">
               
                <h3>فرمول وزن‌دهی</h3>
                
               
                <div class="flx">
        <h2>درصد تاثیر هزینه:</h2>
        <p-slider [(ngModel)]="val3" [style]="{'width':'14em'}" [animate]="true"></p-slider>
        <div class="ui-grid-col-6">
            <input id="feild" pInputText type="text" [(ngModel)]="val3" placeholder="0% "/>
        </div>
        </div>
        <div class="flx">
            <h2> درصد تاثیر زمان :</h2>
            <p-slider [(ngModel)]="val4" [style]="{'width':'14em'}" [animate]="true"></p-slider>
            <!-- <h4>%{{val4}}</h4> -->
            <div class="ui-grid-col-6">
                <input id="feild" pInputText type="text" [(ngModel)]="val4" placeholder="0% "/>
            </div>
            </div>
    
        </p-card>
        </div>
            <div class="btnForm" class="ui-grid-row">   
                <div class="ui-grid-col-3">
                    <button id="RecordDialog" (click)='register()' pButton type="Submit" label="ثبت نهایی" [disabled]="!companyDefinitions.valid"></button>
                </div>
    
            </div>
            <p-contextMenu #cm [model]="items" #cm></p-contextMenu>
        
    