@import url(../../assets/IRANSans4/WebFonts/css/fontiran.css);

body,html{
    direction: rtl!important;
}

#card{
    direction: rtl!important
}
p-card{
    direction: rtl!important  ;
    font-family: IRANSans!important;
}

body,html{
    background-color: chocolate!important;
    width: 100%;
    font-family: IRANSans!important;
}
p-card{
    padding: 20px;
    margin-right: 20px!important;

    right: 20px;
    width: 300px!important;
}
#card{
    width: 300px!important;  
}
h5{
    margin-right: 70px;
    margin-top: 40px;
    font-family: IRANSans!important;
}
#addPerson{
    width: 160px;
    height: 36px;
    border-radius: 8px;
    border: solid 1px #979caf;
    font-family: IRANSans;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #59a59c;
    background-color: white;
    margin: 15px 279px 0 59px;
}
.ui-float-label {
    display: block;
    position: relative;
    padding: 10px 20px 0 2px;
    text-align: center !important;
    border-radius:10px;
}
.canceleDialog{
    width: 160px;
    height: 40px;
    border-radius: 8px;
    font-family: IRANSansWeb;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #59a59c;
    background-color: white;
    border-color: unset;
    margin-left: 31px;
    float: right!important;
}
.RecordDialog{
    width: 140px;
    height: 40px;
    border-radius: 8px;
    background-color: #59a59c;
    font-family: IRANSans!important;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    float: left;
    text-align: center;
}
#RecordDialog{
    width: 161px;
    height: 40px;
    border-radius: 8px;
    border: solid 1px #979caf;
    background-color: white;
    font-family: IRANSans !important;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #59a59c;
    text-align: center;
}
#canceleDialog{
    width: 161px;
    height: 40px;
    font-family: IRANSans !important;
    border-radius: 8px;
    background-color: #59a59c;
    border-color: unset;
    width: 161px;
    margin-left: 31px;
    float: left!important;
    width: 161px;
    height: 40px;
    border-radius: 8px;
    position: absolute;
    right: 28px;
    background-color: #59a59c;
}
.ui-card-title {
    font-size: 3.5em;
    font-weight: bold;
    margin-bottom: .1em;
    color: red!important;
}
h3{
   
    margin-right: 40px;
    font-family: IRANSans!important;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #3f465b;
}
.ui-card-body {
    padding: 1em;
    padding-bottom: 0px!important;
}
#canceleDialog:hover{
    background-color: rgb(0, 202, 179)!important;
}
.btnForm{
    margin-bottom: 100px !important;
    width: 200px;
}

td{
padding-right: 18px;
}
th{

  padding-right: 30px;
  text-align: center;
  border-bottom: lightslategrey;
}
#openMenu{
    background-color: white;
    color: #59A59C;
    padding-right: 10px !important;
    padding-bottom:10px !important ;
}
p-dialog{
    width: 800px!important;
}
#checkBtn{
    margin-left: 10px;
    border-radius: 18px;
}
#canceleBtn{
    background-color: #b7b2b2;
    border-radius: 18px;
    color: white;
}
 body,html{
    direction: rtl !important;  
padding: 10px 10px 0 0 ;
}
.feildInput{
    width: 260px;
    height: 44px;
    opacity: 0.5;
    border-radius: 6px;
    border: solid 1px #29275f;
    margin: 12px 20px 0 0;
    .feildInput:hover{
        border: solid 1px #59a59c;
    }
}
.feildInput:hover{
    border: solid 1px #59a59c;
}
#flx{
    display: flex;

}

#feildInput{
    border-radius: 10px;
    color: red;
    width: 100px!important;
   
}
#dek{
    width: 120px;
    height: 24px;
    opacity: 0.5;
    border-radius: 6px;
    border: solid 1px #29275f;
}
.message{
    margin-top: 50px!important;
}
.feildInputs{
    width: 240px;
    height: 44px;
    opacity: 0.5;
    border-radius: 6px;
    border: solid 1px #29275f;
    margin: 10px 55px 0 0;
  
}
#btn{
    margin-right: 20px;
}
.editInput{
    width: 100px;
    height: 24px;
    opacity: 0.5;
    border-radius: 6px;
    border: solid 1px #29275f; 
}

 
 
 
  .ui-button.ui-button-text-icon-left .ui-button-text{
    display: none!important; 
  }
  :host >>> .ui-dropdown-item {
      background-color: red!important;
      color: red!important;
  }
  .ng-tns-c77-1 .ui-inputwrapper-filled .ng-pristine .ng-invalid .ng-touched{
    background-color: red!important;
    color: red!important;
  }
  #re{
      width: 100px!important;
      min-width: 20px!important; 
  }
  .ui-fluid .ui-dropdown{
      min-width: 10px!important;
  }
  .ui-fluid {
    min-width: 10px!important;
  }
  .ui-dropdown{
    min-width: 10px!important;
  }
  h4{
    opacity: 0.85;
    font-family: IRANSans !important;
    font-size: 11px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    text-align: center;
    color: #3f465b;
    margin: 12px 10x 0 0; 
    padding: 5px 10px 0 0;
  }
  .ui-grid-row{
      width: 900px!important;
      flex-direction: column;
  }
  .ui-grid-col-7 {
    width: 83.33333%;
    display: flex

}
body .ui-button.ui-button-text-only .ui-button-text {
     padding: 0.429em 1em; 
     width: 128px!important; 
}
#texteara{
    width: 320px;
    height: 95px;
    opacity: 0.5;
    border-radius: 6px;
    border: solid 1px #29275f;
    margin: 25px 17px 30px 0;
}
.ui-grid .ui-grid-row {
    display: -webkit-box;
    display: flex;
    clear: both;
    flex-direction: column;
}
#background{
    background-color: gainsboro;
    width: 100%!important;
    height: 100%;
    margin: 0;
    padding: 0;
}
body .ui-table .ui-table-thead > tr > th {
    padding: 0.571em 0.857em;
    
    font-weight: 700;
    color: #333333;
    background-color: #f4f4f4;
    /* width: 100px; */
}
tr{
    background-color: white!important;
}
#edit{
    color: #ffffff;
    background-color: #34A835;
    /* border: 1px solid #34A835; */
    border-radius: 10px;
    margin: 10px;
}
#remove{

    border-radius: 10px;
    margin: 10px; 
}
.ui-table table {
    border-collapse: collapse;
    width: 100%;
    table-layout: unset;
}
body .ui-menubar {
    padding: 0;
    background-color: #ffffff;
     border: 3px solid red!important;  
}
#with{
    width: 124px!important;
}


#btn{
    background-color: #e9ebf1;
    font-family: IRANSans!important;
  }
  .padingCard{
      padding: 20px 20px 30px 0;
      font-family: IRANSans!important;
     
  }
  h2{
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: right;
      color: #979caf; 
      margin-right: 20px;
      font-family: IRANSans!important;
  }

  .flx{
      display: flex;
  }
  #btnEdit{
    width: 146px;
    height: 40px;
    border-radius: 8px;
    background-color: #59a59c;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    position: absolute;
    right: 762px;
    font-family: IRANSans!important;
  
  }
  h3{
      font-family: IRANSansWeb;
      font-size: 18px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #3f465b;
      margin-right: 20px;
  }
  .flx-clm{
      flex-direction: column;
  }
  .clm-padding{
      margin: 0 120px 0 0;
  }
  p-progressBar{
    
      margin: 23px 60px 0 0 ;
      width: 222px!important;
      height: 2px!important;
      border-radius: 2px!important;
      background-color: #e9ebf1!important;
  }
  h4{
    font-family: IRANSans!important;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #3f465b;
    margin: 10px 30px 0 0px;
  }
  .ui-progressbar-determinate .ui-progressbar-label {
    text-align: center;
    /* height: 58%; */
    width: 58%;
    opacity: 0;
    /* position: absolute; */
    display: none;
    font-weight: bold;
    font-family: IRANSans!important;
}
p-slider{
    margin-top: 23px;
    margin-right: 55px;   
}
#feild{
    width: 49px;
    height: 30px;
    opacity: 0.5;
    border-radius: 3px;
    border: solid 1px #29275f;
    margin: 10px 70px;
}
#float-input{
    width: 220px;
    height: 44px;
    opacity: 0.5;
    border-radius: 6px;
    border: solid 1px #29275f;
    margin-left: 50px;
}
#with {
    width: 98px !important;
}
#calender{
    margin-right: 7px;
}

#labelDropdown{
    float: right!important;
    margin-left: 390px!important; 
    margin-top: 50px;
    background-color: white!important;
}

#drop{
    float: right!important;
    margin-left: 200px;
}



