
<!-- <span class="ui-float-label" appearance="outline">
    <input id="float-input" type="text" size="30"   pInputText> 
    <label for="float-input" >Username</label>
</span>
<br><br>

<span class="ui-float-label" appearance="outline">
        <input id="float-input" type="text" size="30"   pInputText> 
        <label for="float-input" >Username</label>
    </span> -->
    <div class="header">
            <div id="flx">
                    <p-menubar [model]="itemBar"></p-menubar>
                    <div class="text">شرکت داده کاو</div>
                    <div class="img"></div>
                    
                </div>   
    </div>
    
    <div class="nav">
        <div class="flx">
            <div class="img"></div>
            <div class="text">شرکت داده کاو</div>
           
        </div>
            <p-panelMenu [model]="items" [style]="{'width':'300px'}"></p-panelMenu>
        
    </div>
    <form1-root></form1-root>




