.ui-float-label>label {
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 10.55em;
    top: 50%;
    margin-top: -.5em;
    transition: .3s ease all;
    -moz-transition: .3s ease all;
    -webkit-transition: .3s ease all;
    color: #898989;
    line-height: 1;
    color: red;
    z-index: 5;
    float: right;
    
}
.ui-float-label>input:focus~label,
.ui-float-label>input.ui-state-filled~label,
.ui-float-label>.ui-inputwrapper-focus~label,
.ui-float-label>.ui-inputwrapper-filled~label {
    top: -.15em;
    left: 160px;
    font-size: 13px;
    z-index: 3;
    color: green;
    background: white;
    width: 70px;
    border-left-width: 80px;
    
}
.nav{
    width: 182px;
    height: 1216px;
    background-color: #ffffff;
    float: right;
    border-top-left-radius: 70px;
    border-bottom-left-radius: 70px;
    position: absolute;
    right: 0;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08);
    text-align: center;
    font-family: IRANSans!important;
}
.header{
    width: 100%;
    height: 40px;
    background-color: #ffffff;
    float: right;
    font-family: IRANSans!important;
}
body .ui-panelmenu .ui-panelmenu-header > a {
    border: none!important;
    background-color: #898989!important;
    color: red!important;
}

.flx{
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 65px;
    margin-top: 65px;
    .img{
        width: 68px;
        height: 68px;
        background-color: #898989;
        display: block;
        margin: auto;
        border-radius: 50%;
    }
    .text{
        font-size: 14px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #3f465b;
        font-family: IRANSans!important;
        margin-top: 10px
    }
}
#flx{
    display: flex;
    float: left;
    margin-left: 70px;
    .img{
        width: 26px;
        height: 26px;
        background-color: #898989;
        margin-top: 3px; 
        border-radius: 50%;
       
    }
    .text{
    /* font-size: 14px; */
    /* font-family: IRANSans !important; */
    /* color: #3f465b; */
    /* font-weight: 500; */
    font-stretch: normal;
    font-style: normal;
    margin-top: 7px;
    margin-right: 9px;
    font-family: IRANSans!important;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #3f465b;
}
    }



